services:
  # --- DOMÍNIO A ---
  idp-a:
    image: quay.io/keycloak/keycloak:26.0
    container_name: idp-a
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_PORT: 8081   # Porta interna alinhada
    ports:
      - "8081:8081"        # Porta externa alinhada
    networks:
      rede_dominio_a:      # Alias de rede para comunicação interna
        aliases:
          - idp.dominio-a.local
    volumes:
      - ./infra/dom-a/keycloak-data:/opt/keycloak/data/h2

  # --- APLICAÇÃO SP-A ---
  sp-a:
    build: ./sp-a-flask
    container_name: sp-a
    ports:
      - "5000:5000"
    networks:
      - rede_dominio_a
    environment:
      - OAUTHLIB_INSECURE_TRANSPORT=1

  # --- DOMÍNIO B (Mantendo para o futuro) ---
  idp-b:
    image: quay.io/keycloak/keycloak:26.0
    container_name: idp-b
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HTTP_PORT: 8082
    ports:
      - "8082:8082"
    networks:
      rede_dominio_b:
        aliases:
          - idp.dominio-b.local
    volumes:
      - ./infra/dom-b/keycloak-data:/opt/keycloak/data/h2

# --- DEFINIÇÃO DAS REDES (Essa foi a parte que faltou!) ---
networks:
  rede_dominio_a:
    driver: bridge
  rede_dominio_b:
    driver: bridge